<!DOCTYPE html>
<html>
  <head>
    <%- include('./head') %>
    <style>
      ul {
        display: inline;
        padding: 0;
      }
      li {
        display: inline;
      }
      </style>
  </head>

  <body>
    <%- include('./nav') %>

    <div class="container mb-3">
      <h2 class="mb-3">Data</h2>

      <ul>
        <li><a href="/dataex">전국데이터분석</a></li>
        <li><a href="/seouldata">서울데이터분석</a></li>
      </ul>
      <hr>
      <ul>
        <li>강남구</li>
        <li>강동구</li>
        <li>강북구</li>
        <li>강서구</li>
        <li>관악구</li>
        <li>광진구</li>
        <li>구로구</li>
        <li>금천구</li>
        <li>노원구</li>
        <li>도봉구</li>
        <li>동대문구</li>
        <li>동작구</li>
        <li>마포구</li>
        <li>서대문구</li>
        <li>서초구</li>
        <li>성동구</li>
        <li>성북구</li>
        <li>송파구</li>
        <li>양천구</li>
        <li>영등포구</li>
        <li>용산구</li>
        <li>은평구</li>
        <li>종로구</li>
        <li>중구</li>
        <li>중랑구</li>
      </ul>
    <hr>
    
    <p style="font-weight: bold;font-size: large;">전국 주차장 데이터 분석</p>
    <p>공공기관이 생성 또는 취득하여 관리하고 있는 공공데이터를 한 곳에서 제공하는 통합창구인 공공데이터포털에서 제공하고 있는 전국 주차장 표준데이터입니다. 약 1만 5천여개의 주차장 장소들이 제공하고 있으며, 원하는 주차장의 장소 및 정보들을 안내받으실 수 있습니다.</p>
    <p>민영주차장은 민간인이 경영하는 곳이고, 공영주차장은 주로 공적인 기관에서 공공의 이익을 위하여 경영하거나 관리하는 곳을 말합니다.</p>
    <p>노외주차장은 도로 위나 교통 광장에 설치된 주차 지역 이외의 장소에 마련한 주차장입니다. 노상주차장은 도로 옆에 주차할 수 있도록 마련한 장소이며, 부설주차장은 도시 계획 구역에서 주차 수요를 유발하는 시설에 곁달아 설치된 주차장입니다. 해당 건축물이나 시설의 이용자와 일반인에게 제공되는 주차장입니다.</p>
    <p>주차장에는 1급지부터 5급지까지 구분이 되어있습니다. 1급지는 4대문안 및 부도심 7개 지역에 위치한 주차장들이며, 2급지는 주거, 상업, 공업지역 등 상업과 업무기능이 혼재된 지역입니다. 3급지는 1급지, 2급지, 4급지, 5급지를 제외한 지역에 있는 주차장입니다. 4급지는 환승주차장 중 상업 또는 업무 기능이 혼재된 지역 등 환승기능이 저하된 곳입니다. 5급지는 4급지를 제외한 지하철 환승 주차장, 주택가에 위치한 주차장이며 야간 주차 질서 확립이 필요한 주차장입니다.</p>
    <p>승용차 요일제는 교통 혼잡을 해소하고 에너지를 절약하기 위하여 특정 요일을 정해 자동차를 운행하지 않도록 하는 제도입니다. 10부제는 자동차의 운행을 10일에 한번씩 쉬는 제도입니다. 5부제는 주중 5일을 기준으로 사용자를 나누어 지정된 날에 차량을 운행하지 않는 제도입니다. 2부제는 차량 번호 끝자리가 홀수인 차량은 홀수 일에만, 짝수인 차량은 짝수 일에만 자동차를 운행할 수 있게 하는 제도입니다.</p>
    <br><br>

    <p style="font-weight: bold;">1. 주차장구분</p>
    <img src="images/전국_주차장구분.png" width="500" height="370">
    <br>

    <p style="font-weight: bold;">2. 주차장유형</p>
    <img src="images/전국_주차장유형.png" width="500" height="370">
    <br>

    <p style="font-weight: bold;">3. 급지구분</p>
    <img src="images/전국_급지구분.png" width="500" height="370">
    <br>

    <p style="font-weight: bold;">4. 부제시행구분</p>
    <img src="images/전국_부제시행구분.png" width="500" height="370">
    <br>

    <p style="font-weight: bold;">5. 운영요일</p>
    <img src="images/전국_운영요일.png" width="500" height="370">
    <br>

    <p style="font-weight: bold;">6. 요금정보</p>
    <img src="images/전국_요금정보.png" width="500" height="370">
    <br>

    </div>


  </body>
</html>
