<!DOCTYPE html>
<html>
  <head>
    <%- include('./head') %>
  </head>
  
  <body>
    <%- include('./nav') %>
    
    <div class="container mb-3">
      
      <img src="images/parkingph2.jpeg" alt="parking" style="width:100%;height:660px;">
      
    </div>

  </body>
</html>
