<!DOCTYPE html>
<html>
  <head>
    <%- include('./head') %>
    <style>
      ul {
        display: inline;
        padding: 0;
      }
      li {
        display: inline;
      }
      </style>
  </head>

  <body>
    <%- include('./nav') %>

    <div class="container mb-3">
      <h2 class="mb-3">Data</h2>

      <ul>
        <li><a href="/dataex">전국데이터분석</a></li>
        <li><a href="/seouldata">서울데이터분석</a></li>
      </ul>
      <hr>
      <ul>
        <li>강남구</li>
        <li>강동구</li>
        <li>강북구</li>
        <li>강서구</li>
        <li>관악구</li>
        <li>광진구</li>
        <li>구로구</li>
        <li>금천구</li>
        <li>노원구</li>
        <li>도봉구</li>
        <li>동대문구</li>
        <li>동작구</li>
        <li>마포구</li>
        <li>서대문구</li>
        <li>서초구</li>
        <li>성동구</li>
        <li>성북구</li>
        <li>송파구</li>
        <li>양천구</li>
        <li>영등포구</li>
        <li>용산구</li>
        <li>은평구</li>
        <li>종로구</li>
        <li>중구</li>
        <li>중랑구</li>
      </ul>
    <hr>
      
    <p style="font-weight: bold;font-size: large;">서울시 주차장 데이터 분석</p>
    <p>서울 열린데이터 광장에서 제공하는 데이터들입니다. 공영 노상, 노외 주차장 운영 정보를 안내하고 있으며, 주차장 여건에 따라 실제 정보와 다를 수 있음을 인지하시길 바랍니다.</p>
    <p>서울시 주차장 확보율을 자치구별로 제공하는 일반 및 조사 통계를 내었습니다. 서울시 주차장의 종류별, 운영주체별 현황 등을 파악하여 작성하였습니다.</p>
    <p>해당 데이터 분석에서 주차장확보율이란, (주차면수/자동차등록대수)*100 한 값입니다.</p>
    <br><br>

    <p style="font-weight: bold;">1. 서울시 구별 자동차등록대수</p>
    <img src="images/서울시구별자동차등록대수.png" width="500" height="370">
    <br>

    <p style="font-weight: bold;">2. 서울시 구별 주차면수</p>
    <img src="images/서울시구별주차면수.png" width="500" height="370">
    <br>

    <p style="font-weight: bold;">3. 서울시 구별 주차장확보율</p>
    <img src="images/서울시구별주차장확보율.png" width="500" height="370">
    <br>

    <p style="font-weight: bold;">4. 서울시 주차장종류명</p>
    <img src="images/서울시_주차장종류명.png" width="500" height="370">
    <br>

    <p style="font-weight: bold;">5. 서울시 운영구분명</p>
    <img src="images/서울시_운영구분명.png" width="500" height="370">
    <br>

    <p style="font-weight: bold;">6. 서울시 유무료구분명</p>
    <img src="images/서울시_유무료구분명.png" width="500" height="370">
    <br>

    </div>


  </body>
</html>
